[package]
name = "json_digest"
version = "0.1.0"
authors = ["Kirk Peterson <necrobious@gmail.com>"]
edition = "2018"
description = "Produces a digest of a JSON value, while respecting JSON sematics."

[dependencies]
serde = "1.0"
serde_json = "1.0"
byteorder = "1.3.2"
sodiumoxide = "0.2.4"
